[submodule "Assets/Bipolar Core"]
	path = Assets/Bipolar Core
	url = https://github.com/Kosmik123/Bipolar-Core.git
[submodule "Assets/Spriteset Animation"]
	path = Assets/Spriteset Animation
	url = https://github.com/Kosmik123/Spriteset-Animation.git

[submodule "Assets/Humanoid3D"]
	path = Assets/Humanoid3D
	url = https://github.com/Kosmik123/Humanoid3D.git
[submodule "Assets/Bipolar Cable Physics"]
	path = Assets/Bipolar Cable Physics
	url = https://github.com/Kosmik123/Cable-Physics
