[submodule "Assets/Bipolar Core"]
	path = Assets/Bipolar Core
	url = https://github.com/Kosmik123/Bipolar-Core.git
[submodule "Assets/Scenes Loading"]
	path = Assets/Scenes Loading
	url = https://github.com/Kosmik123/Scenes-Loading
